
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Quicksand');

*{

    font-family: 'Quicksand', sans-serif;
    color: #eee;

}

body{

    margin: 0px;
    padding: 0px;
    background: rgb(24, 24, 24);

}

.topBar_Header{

    padding: 25px;
    background: rgb(24, 24, 24);
    border-bottom: 1px solid rgb(46, 46, 46);

}

div.contrainer{

    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 50px);
    max-width: 1024px;

}

.FullSizePannel{

    width: calc(100% - 50px);

    border: 1px solid rgb(46, 46, 46);
    border-radius:15px;

    padding-left: 25px;
    padding-right: 25px;
    margin-top: 15px;

    display: block;
    -webkit-box-shadow: 0px 0px 25px -27px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0px 0px 25px -27px rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 25px -27px rgba(255, 255, 255, 0.1);

}

.showcasePanel{

    width: 210px;
    height: 300px;
    text-align: center;
    border: 1px solid rgb(46, 46, 46);
    border-radius:15px;

    display: inline-block;
    margin-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-box-shadow: 0px 0px 25px -27px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0px 0px 25px -27px rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 25px -27px rgba(255, 255, 255, 0.1);

}

.numberShowcase{

    font-size: 2.7em;
    text-align: center;
    font-family: 'Crimson Text', serif;

    font-style: normal;
    font-weight: 100;

}

.whiteButton{

    background: #fff;
    color: #000;
    border: 1px solid #ddd;
    border-radius:10px;
    width: 100%;
    max-width: 210px;
    padding: 5px;
    margin-top: 15px;

}